* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 98%;
    width: 98vw;
    margin: 1% auto;
}

.container_main {
    height: 95%;
    background-color: silver;
}

.content {
    /* Cambia el ancho para que haya espacio para varios divs */
    background-color: black;
  /*  margin: 10px; /* Espacio entre los divs */
    margin:5%;
    height: 30%; /* Asegúrate de que ocupen la altura del contenedor */
}

footer {
    display: flex; /* Corregido el error de escritura */
    background-color: yellow;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    align-items: flex-end; /* Alinea el contenido al final del eje cruzado */
}